{% extends 'base/base.html' %}
{% load staticfiles %}
{% block header %}
<h4>Universidad de Lima</h4>
{% endblock %}
{% block content %}
{% load staticfiles %}




  <br>
    <br>
                <div class="container">
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-secondary" type="submit">Logout</button>
                            </form>
                              </div>

<br>
<br>
                              <div class="container">
                                          <form class="logout-link" action="{% url 'home:index' %}" method="post">
                                              {% csrf_token %}
                                              <button class="btn btn-success" type="submit">Volver</button>
                                          </form>
                                            </div>





  <body>
    <div class="container">
<form method="post" action="{% url 'home:crear_juego' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row">
        {{ form.as_p }}


        <div class="input-field col s12">
   <select>
     <option value="" disabled selected>Choose your option</option>
     <option value="1">Option 1</option>
     <option value="2">Option 2</option>
     <option value="3">Option 3</option>
   </select>
   <label>Materialize Select</label>
 </div>

      </div>
      <div align="center">
        <button class="btn btn-primary" type="submit">Crear</button>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</form>

<img style="height:400px;width:600px;" src=" {% static 'img/crear.jpg' %}"  alt="crear" />
</div>

{% endblock %}
{% block footer %}


<h5>Lima, Peru 2018</h5>
{% endblock %}
