<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Ingenieria de software 2</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
<!--   <link rel = "stylesheet" href ="{% static 'Css/estilos.css' %}"  >-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->

  <div>
      <table class="db-table3">
          <thead>
              <tr>



                <th style="width: 33%; height: 6px;background-color: #fd0000;">
                    <h1><span align="center" class="white-text text-darken-2" style="background-color: #fd0000;color:#ffffff;">Guachita</span></h1>
                </th>
                <th align="center" style="width: 33%; height: 6px; background-color:#ffffff">
                  <img src="{% static 'img/fifa.jpg' %}" alt="Fifa" />
              </th>
                <th  align="center" style="width: 33%; height: 6px;background-color: #fd0000">
                    <p style="color:#ffffff;" class="white-text text-darken-2">Ingenieria de Software 2</p>
                    <p style="color:#ffffff;" class="white-text text-darken-2">Grupo 4</p>
                </th>

              </tr>
          </thead>
      </table>

  </div>

                <div class="container">
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-secondary" type="submit">Logout</button>
                            </form>
                              </div>

<br>
<br>
                              <div class="container">
                                          <form class="logout-link" action="{% url 'home:index' %}" method="post">
                                              {% csrf_token %}
                                              <button class="btn btn-success" type="submit">Volver</button>
                                          </form>
                                            </div>




  </head>
  <body>
    <div class="container">
<form method="post" action="{% url 'home:crear_juego' %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="row">
        {{ form.as_p }}
      </div>
      <div align="center">
        <button class="btn btn-primary" type="submit">Crear</button>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</form>
</div>
</body>
</html>
