{% extends 'base/base.html' %}
{% load staticfiles %}
{% block header %}
<h4>Universidad de Lima</h4>
{% endblock %}
{% block content %}

<div id="divCabecera">
<div>
<table class="table bordered"> <tbody> <tr><td> Bienvenido, </td></tr>

  <tr><td style="font-size: 20px;" class="text-indigo darken-4 z-depth-4"> {{ BalanceMonetario.objects.get(usuario=user) }}</td></tr>
  </tbody>





 </table>
   </div>
   <br>
   <br>

   <div>


     </div>
  </div>
  <div class="z-depth-4" style="width:35%">
  <div>
    <table class="table bordered"> <tbody> <tr><td> Saldo Disponible </td></tr>

      <tr><td style="font-size: 2.0vw;" class="text-green accent-3"> 400.34</td></tr>
      </tbody>





     </table>
       </div>
     <div>
       <button name="balance" class="waves-effect waves-light red" type="submit"><a class="white-text" href={% url 'home:modificar_balance' %}>Estado de Cuenta</a></button>
     </div>
  </div>
<br>
<br>


<table class='highlight'>
<thead> <tr><th>Juego Creados</th><th>Tipo de Juego</th><th>Creador</th><th>Invitados</th><th>Unirse</th></tr> </thead>
<tbody>
{% for j in juego %}
  <tr><td>  {{ j.nombre }} ( 1/{{ j.n_jugadores }})   </td><td>{{ j.tipo }} </td> <td> {{ j.organizador }} </td> <td>
{% for i in j.invitados.all %}
    {{ i.username }} ,
{% endfor %}
  </td>
<td>   <button name="juego" class="waves-effect waves-light purple darken-3" type="submit"><a class="white-text" href={% url 'home:entrar_juego' juego=j.id %}>ENTRAR</a></button>   </td></tr>
{% endfor %}

  </tbody>
</table>
<br>

         <div>
           <button name="juego" class="waves-effect waves-light red" type="submit"><a class="white-text" href={% url 'home:crear_juego' %}>Crear Juego</a></button>
         </div>

<br>
{% endblock %}
{% block footer %}
<h5>Lima, Peru 2018</h5>
{% endblock %}
