{% extends 'base/base.html' %}
{% load staticfiles %}

<head>
<script src="{% static 'js/trivia.js' %}"></script>
</head>
{% block content %}
<br>
		<div class="container">
			<form action="{% url 'home:index' %}" method="post">
					{% csrf_token %}
					<button class="btn-large waves-effect waves-red blue darken-1 amber lighten-5-text" type="submit">Volver</button>
			</form>
		</div>
		<header>
			<!--	<a href="/home" class = "button">Volver</a>  -->
			<h1>Trivia</h1>
			<p> ¡Pelea por ver quien sabe mas! <strong>El ganador se lleva {{ juego.pozo }} soles </strong></p>
		</header>

		<section>
			<div id = "results"></div>
			<form method="post" name = "formPregunta" onsubmit = "return submitAnswers(answers = [{% for p in preguntas %}'{{ p.respuesta }}',{% endfor %}])">
				{% csrf_token %}

			{% for p in preguntas %}

				<h3> {{ p.id }}.  {{ p.pregunta }}</h3>
				<input type = "radio" name = "p{{ p.id }}" value = "a" id = "p{{ p.id }}a"><label for="p{{ p.id }}a"> a. {{ p.opcion1 }}</label><br>
				<input type = "radio" name = "p{{ p.id }}" value = "b" id = "p{{ p.id }}b"><label for="p{{ p.id }}b"> b. {{ p.opcion2 }}</label><br>
				<input type = "radio" name = "p{{ p.id }}" value = "c" id = "p{{ p.id }}c"><label for="p{{ p.id }}c"> c. {{ p.opcion3 }}</label><br>
				<input type = "radio" name = "p{{ p.id }}" value = "d" id = "p{{ p.id }}d"><label for="p{{ p.id }}d"> d. {{ p.opcion4 }}</label><br>
			{% endfor %}

				<br><br>
				<input class="btn waves-effect waves-light" type = "submit" value = "Ingresar Respuestas">
			</form>
			<br><br>
		<!-- <a href="/home/trivia" class="button">Borrar respuestas</a> -->
		</section>

	{% endblock %}
	{% block footer %}
	<h5>Lima, Peru 2018</h5>
	{% endblock %}
