
{% extends 'base/base.html' %}
{% load staticfiles %}


{% block header %}
<div class="container">
            <form class="logout-link" action="{% url 'home:index' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Volver</button>
            </form>
              </div>


{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>





                              <br>
                              <br>



<h4>Agregar Saldo</h4>
    <br>
        <br>

        <h5>Saldo Actual: {{ balance }} </h5>

<form method="post" action="{% url 'home:modificar_balance' %}">
  {% csrf_token %}
  <div class="container">



        <label for="agregarcant123"> Cantidad a Agregar</label>
        <input id="agregarcant123" type="number" step="0.1" class="number" name="agregar_cant">



        {{ form.as_p }}

      <div align="center">
        <button class="btn btn-primary" type="submit">Agregar</button>
      </div>

    <div class="col-md-3">
    </div>
  </div>
</form>

<br>
    <br>

<img style="height:400px;width:600px; padding-left:40px;" src=" {% static 'img/cuenta.jpg' %}"  alt="cuenta" />
</div>



{% endblock %}
{% block footer %}


<h5>Lima, Peru 2018</h5>
{% endblock %}
