<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Ingenieria de software 2{% endblock %}</title>

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->

    <link rel = "stylesheet" href ="{% static 'Css/estilos.css' %}"  >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <div>
        <table class="db-table3">
            <thead>
                <tr>



                    <th style="width: 1400px; height: 6px;">
                        <h1><span style="background-color: #fd0000">Wachita</span></h1>
                    </th>
                    <th style="width: 87px; height: 6px;">
                      <img src="{% static 'img/fifa.jpg' %}" alt="Fifa" />
                  </th>
                    <th style="width: 212px; height: 6px;background-color: #fd0000;">
                        <p>Ingenieria de Software 2</p>
                        <p>Grupo 4</p>
                    </th>

                </tr>
            </thead>
        </table>
        <p>&nbsp;</p>
    </div>

                <nav>
                    <ul>
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </nav>



  </head>
  <body>
    <div class="container">
      {% block header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
