<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Ingenieria de software 2{% endblock %}</title>

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <link rel="stylesheet" href="{% static 'Css/nouislider.css' %}">
   <link rel="stylesheet" href="{% static 'Css/nouislider.min.css' %}">

  <!--  <link rel = "stylesheet" href ="{% static 'Css/estilos.css' %}"  > -->
    <!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script
  			  src="http://code.jquery.com/jquery-3.3.1.min.js"
  			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  			  crossorigin="anonymous"></script>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          <script src="{% static 'js/nouislider.js' %}"></script>
          <script src="{% static 'js/nouislider.min.js' %}"></script>
          <script> $(document).ready(function(){
             $('.tooltipped').tooltip({delay: 50});
           }); </script>
           <script src="{% static 'js/home.js' %}"></script>

    <div>
        <table class="db-table3">
            <thead>
                <tr>



                  <th style="width: 33.3%; height: 6px;background-color: #fd0000;">
                    <h1><div align="center" class="white-text text-darken-2" style="background-color: #fd0000;">Guachita</div></h1>
                  </th>
                  <th style="width: 33.3%; height: 6px; background-color:#ffffff">
                    <div align="center" ><img src="{% static 'img/fifa.jpg' %}" alt="Fifa" /></div>
                </th>
                  <th  align="center" style="width: 33.3%; height: 6px;background-color: #fd0000">
                    <div align="center" >  <p class="white-text text-darken-2" style="font-size:1.1vw;">Ingenieria de Software 2</p></div>
                    <div align="center" >  <p class="white-text text-darken-2" style="font-size:1.1vw;" >Grupo 4</p></div>
                  </th>

                </tr>
            </thead>
        </table>
        <p>&nbsp;</p>
    </div>


                <div class="container">
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                                {% csrf_token %}
                                <button class="btn-large waves-effect waves-red red darken-4 red lighten-5-text" type="submit">Logout</button>
                            </form>
                              </div>




  </head>
  <body>
    <div class="container">
      {% if messages %}
      <ul class="messages">

      {% for message in messages %}
      <li {% if message.tags %} class="purple darken-4 card-panel" style="font-size:1.3vw; color:#ffffff;"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
      {% endif %}
      {% block header %}


      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block footer %}
      {% endblock %}
    </div>
  </body>


</html>
