{% extends 'base/base0.html' %}
{% load staticfiles %}

{% block content %}
  <div>  <h1 style="width:35%;" class="left-align">Log in</h1>
     <img class="right-align" style="height:200px;width:300px;" src=" {% static 'img/login.jpg' %}" onmouseover="this.src='/static/img/login2.jpg';" onmouseout="this.src='/static/img/login.jpg';" alt="login" />
     </div>
     <br>
    <form class="site-form" action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input onclick="enviar_evento()" name="GuardarEvento" class="btn-large waves-effect waves-red red darken-2 red darken-4-text red pulse" type="submit" value="Login" />
    </form>
    <p>¿No tienes una cuenta? <a href="{% url 'accounts:signup' %}">Regístrate</a></p>
{% endblock %}
