{% extends 'base/base.html' %}
{% block title %} Elige tu formacion!! {% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="input-field col s12" align="center">
      {% if formaciones %}
      <select multiple name="formacion">
        {% for formacion in formaciones %}
        <option value={{formacion.id}}>{{formacion.cantidad_defensas}} -
          {{formacion.cantidad_centrocampistas}} -
          {{formacion.cantidad_delanteros}}</option>
        {% endfor %}
      </select>
      {% endif %}
       <label>Elegir Formación</label>
    </div>
    <div align="center">
        <button class="btn" type="submit">Siguiente!</button>
    </div>
  </form>
</div>
{% endblock %}
