{% extends 'base/base.html' %}
{% load staticfiles %}
{% block header %}
<h4>Universidad de Lima</h4>
{% endblock %}
{% block content %}


<br>
<br>

<div class="container">
            <form class="logout-link" action="{% url 'home:index' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">Volver</button>
            </form>
              </div>


<br>
<br>






<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="input-field col s12" align="center">
      {% if formaciones %}
      <select name="formacion">
        {% for formacion in formaciones %}
        <option value={{formacion.id}}>{{formacion.cantidad_defensas}} -
          {{formacion.cantidad_centrocampistas}} -
          {{formacion.cantidad_delanteros}}</option>
        {% endfor %}
      </select>
      {% endif %}
       <label>Elegir Formación</label>
    </div>
    <div align="center">
        <button class="btn btn-success" type="submit">Siguiente!</button>
    </div>
  </form>

<img style="height:400px;width:600px;" src=" {% static 'img/equipo.jpg' %}"  alt="equipo" />

</div>
{% endblock %}
{% block footer %}


<h5>Lima, Peru 2018</h5>
{% endblock %}
